*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.header{
  width: 100vw;
  margin: 25px;
}
.nav{
  max-width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(113, 231, 191);
  color: white;
  height: 100px;
}

/* section styling */

.main{
  height: 100%;
  width: 100vw;
  display: flex;
}
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside{
  height: 100vh;
  width: 20vw;
  background-color: rgb(101, 238, 101);
  color: white;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  width: 70vw;
  background-color: orange;
  margin: 25px;
  color: white;
  font-size: 20px;
}

.box-container{
 display: flex;
 justify-content: space-around;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgb(217, 217, 32);
  color: white;
  font-size: 30px;
  margin: 20px;
}